<div class="container-fluid bg-dark min-vh-100">
   <div class="row">
     <div class="col-lg-10 m-auto mt-5">
      <div class="text-center">
        <h3 class="text-white">Random Password Generator</h3>
      </div>
        <div class="text-center" (click)="copy(password)">
          <div class="inputBox m-auto">
            <div class="text-white" >{{password}}</div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success" (click)="getPass()">Create</button>
        </div>
     </div>
   </div>
</div>
